.box,.toptext{width:1000px;margin:0 auto;}
.head{background: #121212;height:80px;overflow: hidden;border-bottom: 1px solid #010101;}
.head .left{float:left;}
.head .right{float:right;margin-top:10px;}
.head li{float:left;background: url(../img/5.jpg) 100% 50% no-repeat;padding-right:2px;}
.head li.none{background: none;}
.head .right a, .head .right a img{height:60px;overflow:hidden;width:60px;display:block;}
.nav{height:30px;border-top: 1px solid #343436;overflow: hidden;}
.nav ul li{float:left;background: url(../img/6.jpg) 100% 50% no-repeat;padding-right:24px;margin-left:20px;}
.nav ul li a{color:#D6D5D5;line-height:30px;}
.top{height:112px;background: url(../img/7.jpg);}
body{background: url(../img/13.jpg);}










